* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 14px;
    font-family: "Rubik" ,sans-serif;
}

main {
    background-color: #F6F9FA;
}

.wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column-wrapper {
    display: flex;
    flex-direction: column;
}

.section.how-it-works .wrapper,
.section.pets-in-zoo .wrapper,
.section.pay-and-feed .wrapper,
.section.testimonials .wrapper {
    flex-direction: column;
}

.section.how-it-works,
.section.pets-in-zoo {
    background-color: #F6F9FA;
}

.section.pets-in-zoo {
    margin: 125px 0 125px 0;
}


.header__title {
    display: none;
}

.header__logo {
    width: 80px;
    height: 60px;
}

.menu__list {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: left;
    gap: 20px;
    font-size: 1.0em;
    margin-left: 52px;
}

.menu__item {
    list-style: none;
    cursor: pointer;
}

.menu__item_active,
.menu__item:hover {
    border-bottom: 1px solid white;
}


.header__svg {
    width: 32px;
    height: 32px;
    margin-right: 30px;
}

.header__click,
.header__clicker {
    border: 1px solid #ffffff;
    background-color: #2A8086;
    color: #ffffff;
    border-radius: 30px;
    padding: 15px 30px;
    height: 45px;
    width: 125px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1em;
}

.header__clicker {
    border: none;
    background-color: #2A8086;
    margin-right: 30px;
}

.section__txt {
    margin: 30px 0 0 100px;
}

.section.animals-online .wrapper {
    align-items: unset;
}

.section__title {
    font-size: 4.0em;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    margin-top: 0px;
}

.section__bold{
    font-size: 1.0em;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
.section.animals-online {
    background-color: #F6F9FA;
    z-index: 1;
    position: relative;
}
.section.animals-online::before {
    position: absolute;
    z-index: -1;
    background-image: url(./assets/images/pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 744px;
    content: '';
    top: 0;
}

.animals-online .section__title {
    margin: 80px 0 27px 0;
}

.section__textxt {
    color: white;
    margin-bottom: 50px;
    font-size: 0.9em;
    font-weight: lighter;
}

.section__click {
    border: 1px solid #C5E1E5;
    color: #0D444D;
    padding: 7px 20px;
    border-radius: 30px;
    width: 186px;
    height: 40px;
    border-color: white;
    box-shadow: rgba(255, 255, 255, 0.292) 0px 8px 24px;
    font-weight: bolder;
}

.section__img {
    width: 803.93px;
    height: 666px ;
    margin: 20px 100px 0 0;
}

.section__title.section__title_large {
    color: #0D444D;
    font-size: 1.3em;
    font-weight: normal;
    width: 100%;
}

.section__article-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 30px;
    padding-top: 130px;
}

.section__article {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section__image {
    width: 150px;
    height: 150px;
}

.section__ptxt {
    font-size: 0.8em;
    color: #0D444D;
}

.panda-img{
    background-image: url(./assets/images/Illustration.png);
    background-color: #F6F9FA;
    width: 100%;
    height: 530px;
    background-size:cover ;
    background-repeat: no-repeat;
    background-clip: content-box;
}

.section__ptxtt {
    color: white;
}

.section__header {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px 0;
}

.section__tap {
    border-color: #216E7A;
    background-color: #F6F9FA;
    color: #0D444D;
    border-radius: 30px;
    padding: 15px 30px;
    height: 45px;
    width: 330px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.0em;
}

.section__taps {
    border-color: #216E7A;
    background-color: #F6F9FA;
    color: #0D444D;
    border-radius: 30px;
    padding: 15px 30px;
    height: 52px;
    width: 255px;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 0.9em;
}

.section__picture {
    width: 24px;
    height: 24px;
}

.section__table {
    background-color: #F6F9FA;
    width: 100%;
}

.section__line {
    margin: 0px;
}

.section__string {
    width: 480px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.section__arrow {
    background-color: #C5E1E5;
    max-width: 266px;
    width: 100%;
    height: 1px;
    transform: translate(10px, 24px);
}

.section__arrows {
    display: flex;
    width: 20%;
    align-items: center;
}

.section__pic {
    margin: 0 auto;
    display: block;
    width: 228px;
    height: 221px;
}

.section__lines {
    margin-top: 10px;
}

.section__cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.section__letters {
    size: 0.7em;
    color: #2D2D2D;
    font-weight: normal;
    flex: 1;
}

.section__font {
    font-size: 1.1em;
    margin-bottom: 40px;
}

.section__letter {
    color: rgb(161, 161, 161);
    font-size: 0.8em;
    flex: 1;
}

.section__svg {
    width: 25px;
    height: 25px;
    display: flex;
}

.slider {
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: space-between;

}


.section.pay-and-feed {
    background-color: #F6F9FA;
    z-index: 1;
    position: relative;
    padding: 100px 0 150px 0;
}
.section.pay-and-feed::before {
    position: absolute;
    z-index: -1;
    background-image: url(./assets/images/Illustration2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 603px;
    content: '';
    top: 0;
}

.section__slider {
  flex-direction: column;
  width: 10px;
}

.section__title.section__title_largee {
    color: white;
    font-size: 1.5em;
}

.section__clicks {
    border: 1px solid #C5E1E5;
    color: #0D444D;
    box-sizing: border-box;
    background-color: #C5E1E5;
    margin-inline: 5px;
    padding: 3px 15px;
    border-radius: 30px;
    padding: 15px 30px;
    height: 45px;
    width: 260px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.0em;
    box-shadow: rgba(255, 255, 255, 0.292) 0px 8px 24px;
}

.section__step {
    width: 145px;
    height: 145;
}

.section__step2 {
    width: 52px;
    height: 52px;
    margin-top: 50px;
}

.section.testimonials {
    background-color: #F6F9FA;
}


.section__border {
    background-color: #F6F9FA;
    margin-bottom: 50px;
}

.section__comment {
    padding: 20px 60px 80px 40px;
    background-color: #F6F9FA;
    filter: drop-shadow(rgba(100, 100, 111, 0.386) 0px 7px 29px);
    position: relative;
    font-size: 0.9em;
    font-style: italic;
    border-radius: 10px;
    margin-bottom: 15px;
}

.section__comment::after {
    content: "";
    border: 10px solid transparent;
    border-top: 10px solid white;
    position: absolute;
    bottom: -17px;
    left: 10px;
}

.section__data {
    font-size: 0.7em;
    color: darkgrey;
    font-style: normal;
}

.section__style {
    font-size: 0.9em;
    font-style: italic;
}

.section__container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.section__compic {
    width: 10%;
}

.section.beautiful-animals {
    background-color: #F6F9FA;
    padding: 100px 0;
}

.section__titletxt {
    color: #0D444D;
    font-size: 1.3em;
    font-weight: normal;
    width: 100%;
    display: flex;
    margin-left: 140px;
}

.section__list {
    list-style-type: none;
    display: flex;
    padding: 45px;
    justify-content: space-between;
    width: 1100px;
}

.section__imagee {
    width: 76px;
    height: 73.37px;
}

.footer {
        background-color: #196469;
        z-index: 2;
        position: relative;
        padding: 50px 40px;
    }

.header {
    background-color: #2A8086;
    z-index: 2;
    position: relative;
    box-shadow:rgba(18, 87, 91, 0.25) 0px 8px 24px;
    padding: 10px 20px;
}

.header__menu.menu {
    flex: 1
}

.header__letter {
    text-align: right;
    font-size: 0.8em;
    color: white;
}

.section__lines {
}