* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 14px;
    font-family: "Rubik", sans-serif;
    font-family: "Sahitya", sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
    background-color: white;
}

.wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-column {
    flex-direction: column;
    height: 100%;
    max-width: 1600px;
    width: 100%;
    margin: 0px auto;
}

.header__menu.menu {
    flex: 1;
}

.header {
    background-color: #2A8086;
    z-index: 2;
    position: relative;
    padding: 10px 20px;
}

.header__title {
    display: none;
}

.header__logo {
    width: 80px;
    height: 60px;
}

.menu__list {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: left;
    gap: 20px;
    font-size: 1.0em;
    margin-left: 52px;
}

.menu__item {
    list-style: none;
    cursor: pointer;
}

.menu__item_active,
.menu__item:hover {
    border-bottom: 1px solid white;
}


.header__svg {
    width: 32px;
    height: 32px;
    margin-right: 30px;
}

.header__click,
.header__clicker {
    border: 1px solid #ffffff;
    background-color: #2A8086;
    color: #ffffff;
    border-radius: 30px;
    padding: 15px 30px;
    height: 45px;
    width: 125px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1em;
}

.header__clicker {
    border: none;
    background-color: #2A8086;
    margin-right: 30px;
}













.section__image {
    background-image: url(./assets/images/Donate-illustrations.png);
    z-index: 1;
    position: relative;
    padding: 100px 0 150px 0;
    height: 395px;
    width: 100%;
}

.header__letter {
    text-align: right;
    font-size: 0.8em;
    color: white;
}

.footer {
    background-color: #196469;
    z-index: 2;
    position: relative;
    padding: 50px 40px;
}