* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 14px;
    font-family: "Rubik", sans-serif;
}

main {
    background-color: #F6F9FA;
}

.wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.column-wrapper {
    display: flex;
    flex-direction: column;
}

.section.how-it-works .wrapper,
.section.pets-in-zoo .wrapper,
.section.pay-and-feed .wrapper,
.section.testimonials .wrapper {
    flex-direction: column;
}

.section.how-it-works,
.section.pets-in-zoo {
    background-color: #F6F9FA;
}

.section.pets-in-zoo {
    margin: 125px 0 125px 0;
}

.header__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__title {
    display: none;
}

.header__logo {
    width: 80px;
    height: 60px;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.menu__list {
    margin-left: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: left;
    gap: 20px;
    font-size: 1.0em;
}

.menu__list2 {
    display: none;
    flex-direction: column;
}

.menu__item {
    list-style: none;
    cursor: pointer;
}
.section__click:hover {
    width: 190px;
    height: 44px;
    cursor: pointer;
}
.section__string:hover {
    width: 520px;
    cursor: pointer;
}

.section__clicks:hover {
    width: 265px;
    height: 45px;
    cursor: pointer;
}

.section__imagee:hover {
    cursor: pointer;
    width: 85px;
    height: 82px;
}

.section__pic:hover {
    cursor: pointer;
    width: 240px;
    height: 235px;
}

.menu__item_active,
.menu__item:hover {
    list-style: none;
    border-bottom: 1px solid white;
}

.header__click, 
.header__clicker:hover {
    cursor: pointer;  
}

.menu__item2:hover {
    border-bottom: 1px solid white;
}


.header__svg {
    width: 32px;
    height: 32px;
}

.header__click,
.header__clicker {
    border: 1px solid #ffffff;
    background-color: #2A8086;
    color: #ffffff;
    border-radius: 30px;
    padding: 15px 30px;
    height: 45px;
    width: 125px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1em;
}

.header__clicker {
    border: none;
    background-color: #2A8086;
}

.header__burger {
    display: none;
    border: none;
    background-color: #2A8086;
}


.section__title {
    font-size: 5.0rem;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    margin-top: 0px;
}

.section__bold {
    font-size: 4.0rem;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.section.animals-online {
    background-color: #F6F9FA;
    z-index: 1;
    position: relative;
    padding: 20px 0;
}

.section.animals-online::before {
    position: absolute;
    z-index: -1;
    background-image: url(./assets/images/pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 770px;
    height: 59vw;
    content: '';
    top: 0;
}

.animals-online .section__title {
    margin: 0px 0 27px 0;
}

.section__textxt {
    color: white;
    margin-bottom: 50px;
    font-size: 1rem;
    font-weight: lighter;
}

.section__click {
    border: 1px solid #C5E1E5;
    color: #0D444D;
    padding: 7px 20px;
    border-radius: 30px;
    width: 186px;
    height: 40px;
    border-color: white;
    box-shadow: rgba(255, 255, 255, 0.292) 0px 8px 24px;
    font-weight: bolder;
    margin-bottom: 80px;
}

.section__click2 {
    display: none;
    border: 1px solid #C5E1E5;
    color: #0D444D;
    background-color: #C5E1E5;
    padding: 7px 20px;
    border-radius: 30px;
    width: 186px;
    height: 40px;
    box-shadow: rgba(255, 255, 255, 0.292) 0px 8px 24px;
    font-weight: bolder;
    margin-bottom: 80px;
}

.section__img {
    width: 51vw;
    max-width: 803px;
}

.section__title.section__title_large {
    color: #0D444D;
    font-size: 1.3em;
    font-weight: normal;
    width: 100%;
}


.section__article {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section__image {
    width: 150px;
    height: 150px;
}

.section__ptxt {
    font-size: 0.8em;
    color: #0D444D;
}

.panda-img {
    background-image: url(./assets/images/Illustration.png);
    background-color: #F6F9FA;
    width: 100%;
    height: 495px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
}

.section__ptxtt {
    color: white;
    text-align: center;
}

.section__header {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px 0;
}

.section__tap {
    border-color: #216E7A;
    background-color: #F6F9FA;
    color: #0D444D;
    border-radius: 30px;
    padding: 15px 30px;
    height: 45px;
    width: 330px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.0em;
}

.section__taps {
    border-color: #216E7A;
    background-color: #F6F9FA;
    color: #0D444D;
    border-radius: 30px;
    padding: 15px 30px;
    height: 52px;
    width: 255px;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 0.9em;
}

.section__picture {
    width: 24px;
    height: 24px;
}

.section__line {
    margin: 0px;
}

.section__string {
    width: 480px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.section__arrow {
    background-color: #C5E1E5;
    max-width: 266px;
    width: 100%;
    height: 1px;
    transform: translate(10px, 0px);
}

.section__arrows {
    display: flex;
    width: 20%;
    align-items: center;
}

.section__pic {
    margin: 0 auto;
    display: block;
    width: 228px;
    height: 221px;
    margin: 15px 100px;
}

.section__lines {
    margin-top: 10px;
}

.section__cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.section__letters {
    size: 0.7em;
    color: #2D2D2D;
    font-weight: normal;
    flex: 1;
}

.section__font {
    font-size: 1.1em;
    margin-bottom: 40px;
}

.section__letter {
    color: rgb(161, 161, 161);
    font-size: 0.8em;
    flex: 1;
}

.section__svg {
    width: 25px;
    height: 25px;
    display: flex;
}


.section__tab {
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.section__column {
position: relative;
flex: 1;
overflow: hidden;
height: 750px;
}


.section.pay-and-feed {
    background-color: #F6F9FA;
    z-index: 1;
    position: relative;
    padding: 100px 0 150px 0;
    background-color: #2A8086;
}


.section__slider {
    flex-direction: column;
    display: flex;
}

.section__title.section__title_largee {
    color: white;
    font-size: 1.5em;
}

.section__clicks {
    border: 1px solid #C5E1E5;
    color: #0D444D;
    box-sizing: border-box;
    background-color: #C5E1E5;
    margin-inline: 5px;
    padding: 3px 15px;
    border-radius: 30px;
    padding: 15px 30px;
    height: 45px;
    width: 260px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.0em;
    box-shadow: rgba(255, 255, 255, 0.292) 0px 8px 24px;
}

.section__step {
    width: 145px;
    height: 145;
}

.section__step2 {
    width: 52px;
    height: 52px;
}

.section.testimonials {
    background-color: #F6F9FA;
}


.section__border {
    background-color: #F6F9FA;
    margin-bottom: 50px;
}

.section__comment {
    padding: 20px 60px 80px 40px;
    background-color: #F6F9FA;
    filter: drop-shadow(rgba(100, 100, 111, 0.386) 0px 7px 29px);
    position: relative;
    font-size: 0.9em;
    font-style: italic;
    border-radius: 10px;
    margin-bottom: 15px;
}

.section__comment::after {
    content: "";
    border: 10px solid transparent;
    border-top: 10px solid white;
    position: absolute;
    bottom: -17px;
    left: 10px;
}

.section__data {
    font-size: 0.7em;
    color: darkgrey;
    font-style: normal;
}

.section__style {
    font-size: 0.9em;
    font-style: italic;
}

.section__container {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}


.section__article-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 30px;
    padding-top: 30px;
}



.section__ul {
    position: relative;
    flex: 1;
    overflow: hidden;
    height: 150px;
}

.section__compic {
    width: 10%;
}

.header__menu.menu2 {
    display: flex;
    justify-content: space-between;
}

.section.beautiful-animals {
    background-color: #F6F9FA;
    padding: 100px 0;
}

.section__titletxt {
    color: #0D444D;
    font-size: 1.3em;
    font-weight: normal;
    width: 100%;
    display: flex;
}

.menu__items {
    list-style: none;
}

.section__list {
    list-style-type: none;
    display: flex;
    padding: 45px;
    justify-content: space-between;
    width: 1100px;
}


.section__table {
    background-color: #F6F9FA;
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 950px;
}


.section__imagee {
    width: 76px;
    height: 73.37px;
}

.footer {
    background-color: #196469;
    z-index: 2;
    position: relative;
    padding: 50px 40px;
}

.header {
    background-color: #2A8086;
    z-index: 2;
    position: relative;
    box-shadow: rgba(18, 87, 91, 0.25) 0px 8px 24px;
    padding: 10px 20px;
}

.header__menu.menu {
    flex: 1;
}

.header__letter {
    text-align: right;
    font-size: 0.8em;
    color: white;
}

.menu__lists {
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: left;
    gap: 20px;
    font-size: 1.0em;
    margin-left: 50px;
}


body {
    background-color: aliceblue;
}


@media (max-width: 1200px) {
    .section__title {
        font-size: 4rem;
    }

    .section__bold {
        font-size: 3rem;
    }

    .section__textxt {
        font-size: 16px;
    }


    .section__pic {
        width: 162px;
        height: 157px;
    }

    .section__arrow {
        width: 35%;
    }

    .section__ptxtt {
        font-size: 14px;
    }

    .section__ptxtt {
        color: white;
    }

    .section__title.section__title_largee {
        color: white;
    }

    .section__header {
        justify-content: space-around;
        padding: 0 0;
    }
}

@media (max-width: 992px) {


    .section__click2 {
        display: unset;
    }

    .header__menu.menu {
        height: 300px;
        position: absolute;
        width: 100%;
        left: 0;
        z-index: -1;
        bottom: -300px;
    }

    .section__title {
        font-size: 3rem;
    }

    .section__bold {
        font-size: 2.5rem;
    }

    .section__textxt {
        font-size: 1rem;
    }

    .section__comment {
        padding: 20px 25px 31px 24px;
        font-size: 0.7rem;
    }

    .section__btns {
        display: flex;
    }

    .section__list {
        width: 875px;
    }

    .section.pay-and-feed::before {
        max-height: 674px;
        height: 47vw;
    }


    .header__login {
        display: none;
    }

    .header__burger {
        display: contents;
    }
    .section__pic {
        margin: 5px 10px;
        align-items: center;
    }

    .menu__list {
        display: block;
        margin-left: 0px;
        text-align: center;
        color: white;
        background-color: #2A8086;
        width: 100%;
        justify-content: space-between;
        padding: 15px 0;
    }

    .menu__lists {
        margin-left: 50px;
        color: white;
        display: flex;
        justify-content: space-between;
        width: 100%;
        justify-content: left;
        gap: 20px;
        font-size: 1.0em;
    }

    .header__letter {
        text-align: right;
        font-size: 0.8em;
        color: white;
    }

    .header__menu.menu2 {
        flex: 1;
        height: 120px;
        margin-left: 50px;
        color: white;
        display: flex;
        justify-content: space-between;
        width: 100%;
        justify-content: left;
        gap: 20px;
        font-size: 1.0em;
    }

    .menu__item {
        margin-bottom: 30px;
        font-size: 1.5rem;
    }

    .menu__items {
        list-style: none;
        margin-bottom: 30px;
        font-size: 1.5rem
    }

    .menu__itemm {
        list-style: none;
        font-size: 0.9rem
    }

    .section__taps {
        font-size: 0.8rem;
        height: 42px;
    }

    .section__tap {
        font-size: 0.9rem;
    }
}

@media (max-width: 640px) {

    .section__title {
        font-size: 2.2rem;
    }

    .section__bold {
        font-size: 1.9rem;
    }

    .section.animals-online::before {
        height: 60vw;
    }

    .section__click {
        width: 158px;
        height: 38px;
    }

    .section__click2 {
        width: 158px;
        height: 38px;
    }

    .section__img {
        width: 43vw;
    }

  

    .section__font {
        font-size: 0.9rem;
    }

    .section__letter {
        font-size: 0.7em;
    }

    .section__svg {
        width: 20px;
        height: 20px;
    }

    .section__tap {
        font-size: 0.7rem;
    }

    .section__list {
        width: 610px;
    }

    .section__imagee {
        width: 65px;
        height: 60px;
    }

    .menu__itemm {
        font-size: 0.6rem;
    }

    .header__letter {
    font-size: 0.6rem;
    }

    .menu__lists {
        align-items: center;
        font-size: 0, 8rem;
        margin-left: 0px;
    }

    .section__comment {
        padding: 12px 5px 29px 17px;
        font-size: 0.6rem;
    }

    .header__logo {
        width: 50px;
        height: 40px;
    }

    .footer {
        padding: 20px 10px;
    }

}

@media (max-width: 428px) {

    .section__btns {
        position: absolute;
        top: 344px;
    }
    
    .section.animals-online::before {
        max-height: 531px;
        height: 136vw;
    }
    .section__img {
        position: absolute;
        right: 91px;
        top: 15px;
        width: 54vw;
    }

    .section__textxt {
        font-size: 0.8rem;
        position: absolute;
        top: 260px;
    }

    .section__title {
        font-size: 1.8rem;
    }

    .section__bold {
        font-size: 1.5rem;
    }
    .animals-online .section__title {
        position: absolute;
        top: 194px;
    }

    .section__article-container {
        display: block;
        flex-direction: column;
    }

    .section__arrow {
        display: none;
    }

    .section__step2 {
        transform: rotate(90deg) translateX(calc(100%/2 - 26px));
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .section__clicks {
        position: absolute;
        bottom: 60px;
    }

    .section__taps {
        position: absolute;
        bottom: 0px;
    }

    .section.testimonials {
        position: relative;
    }

    .section__tap {
        position: absolute;
        bottom: -20px;
        height: 45px;
        width: 265px;
        font-size: 0.9rem;
    }
    .section.pets-in-zoo {
        margin: 70px 0;
        position: relative;
    }

    .section__arrows {
        width: 100%;
        justify-content: center;
    }

    .section.how-it-works {
        padding-top: 400px;
    }
}